<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1>id:<%= searcComent.id %> </h1>
     <p>
         Comment:   <%=searcComent.com %> <b>- <%=searcComent.username %> </b>
     </p><b></b>
<section>
      <button><a href="/comment">Back to index</a></button>
      <button><a href="/comment/<%=searcComent.id %>/edit ">edit</a></button>
      <span>
      <form action="/comment/<%=searcComent.id %>?_method=DELETE" method="post">
        <button>Delete</button>
      </form>
      </span>
</body>
</html>